<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kubernetes keda autoscaling example application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        {% if message %}
        <h3>{{ message}} </h3>
        {% endif %}
    </div>

    <div class="container">
        <h2>Slow queue (sleep10)</h2>
        <form action ="/api/add/slow/sleep10" method="get">
            <div class="form-group">
                <label for="count">Job count:</label>
                <input type="number" placeholder="Count" name="count" value="10" id="count">
            </div>
            <button type="submit" class="btn btn-default">Add</button>
        </form>
    </div>

    <div class="container">
        <h2>Fast queue (plus1n1)</h2>
        <form action="/api/add/fast/plus1n1" method="get">
            <div class="form-group">
                <label for="count">Job count:</label>
                <input type="number" placeholder="Count" name="count" value="10" id="count">
            </div>
            <button type="submit" class="btn btn-default">Add</button>
        </form>
    </div>
</body>
</html>